<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="BookConnection" providerName="System.Data.SqlClient"
             connectionString="Server=tcp:bovine.database.windows.net,1433;Database=Bookish;
             User ID=bovine@bovine;Password=Drawasaurus123;Trusted_Connection=False;Encrypt=True;" />
    </connectionStrings>
    
    <appSettings>
        
    </appSettings>
</configuration>